{% extends "users/personal/base.html" %}

{% block personal_content %}
    <h3 class="lk-content__title">Изменить пароль</h3>
    <form method="post" class="ajax-form">
        {% for field in form %}
            <label>
                <span>{{ field.label }}</span>
                {{ field }}
            </label>
        {% endfor %}
        <button type="submit" class="btn btn-primary">
            <span class="btn__text">Сохранить</span>
        </button>
    </form>
{% endblock personal_content %}