{% extends "base.html" %}

{% load static catalog %}

{% block header_extra %}
    {% with product.get_variations as varitations %}
        {% if varitations.exists %}
            <link rel="stylesheet" href="{% static 'css/variationProductPage.css' %}?v={{ v }}">
        {% else %}
            <link rel="stylesheet" href="{% static 'css/onlyProductPage.css' %}?v={{ v }}">
        {% endif %}
    {% endwith %}
        <script>
            function scrollToAvailability() {
                let content_tabs = document.querySelectorAll('.product-content');
                let store_tabs = document.querySelector('[data-content="store"]');
                let radio_tabs = document.querySelectorAll('[name="product-tab"]')
                let store_radio = document.querySelector('[value="store"]')
                content_tabs.forEach((el) => {
                    el.classList.add('d-none');
                })
                radio_tabs.forEach((el) => {
                    el.checked = false
                })
                store_radio.checked = true
                store_tabs.classList.remove('d-none')
            }
        </script>
{% endblock %}

{% block gtag_extra %}

    <script>
        {% comment %}
        // gtag('event', 'page_view', {
        //     dynx_itemid: "{{ product.id }}",
        //     dynx_pagetype: 'offerdetail',
        //     ecomm_prodid: "{{ product.id }}",
        //     ecomm_pagetype: 'product'
        // });
        {% endcomment %}

        var google_tag_params = {
            dynx_itemid: "{{ product.id }}",
            dynx_pagetype: "offerdetail",
            ecomm_prodid: "{{ product.id }}",
            ecomm_pagetype: 'product',
            user_id: "{{ request.user.id }}"
        }
    </script>

{% endblock %}

{% block footer_extra %}
    <script src="{% static 'js/productPage.bundle.js' %}?v={{ v }}"></script>
    <script src="https://yastatic.net/share2/share.js" defer></script>
{% endblock %}


{% block page_title %}
    {% if not hide_title %}
        <div class="page-header-title column">
            {% with product.get_rating as rating %}
                <h1 class="page-header__title">{{ page_info.full_title }}</h1>
            <div class="product-cart-top">
                <div class="stars">
                {% for star in 'xxxxx' %}
                    <svg role="img" {% if forloop.counter <= rating.rating %} class="active" {% endif %}>
                        <use href="/static/images/sprite.svg#star"></use>
                    </svg>
                {% endfor %}
                    <div class="stars-count">{{ rating.count|default:0 }}</div>
                    <div class="stars__link tab_open" tab_open="reviews" data-anchor="info">Написать отзыв</div>
            {% endwith %}

                </div>
                <div class="product-cart-top-info">
                    {% if guarantee %}
                        <div class="product-cart-top-info-item">
                            <svg>
                                <use xlink:href="{% static '/images/sprite.svg'%}#checked"></use>
                            </svg>
                            {{ guarantee }} гарантии
                        </div>
                    {% endif %}
                    {% if product.in_stock %}
                        <div class="product-cart-top-info-item">
                            <svg>
                                <use xlink:href="{% static '/images/sprite.svg'%}#checked"></use>
                            </svg>
                            В наличии
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <section class="product-section">
        <div class="section-wrapper">
            <div class="product" data-product="{{ product.id }}">
                <div class="product-gallery">
                    <div class="product-gallery-main {% if not product.image %}empty{% endif %}">
                        {% if product.image %}
                            <a href="{{ product.image.url }}" data-fancybox="product-gallery-main">
                                {{ product.get_template_picture }}
                            </a>
                            {% for image in product.gallery.iterator %}
                                <a href="{{ image.image.url }}" data-fancybox="product-gallery-main">
                                    {{ image.get_template_picture }}
                                </a>
                            {% endfor %}
                        {% else %}
                            <svg role="img">
                                <use href="/static/images/sprite.svg#cart"></use>
                            </svg>
                        {% endif %}
                    </div>
                    {% if product.gallery.exists %}
                        <div class="product-gallery-submain">
                            <a href="{{ product.image.url }}" data-fancybox="product-gallery">
                                {{ product.get_template_picture }}
                            </a>
                            {% for image in product.gallery.iterator %}
                                <a href="{{ image.image.url }}" data-fancybox="product-gallery">
                                    {{ image.get_template_picture }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if calc_page and diameter %}
                        <a href="{{ calc_page.get_absolute_url }}?diameter={{ diameter }}&height={{ height }}"
                           target="_blank"
                           class="product-gallery-button btn btn-outline">
                            <div class="btn__text">
                                <svg role="img">
                                    <use href="/static/images/sprite.svg#calc"></use>
                                </svg>
                                Подобрать дымоход
                            </div>
                        </a>
                    {% endif %}
                </div>
                {% with product.get_variations as varitations %}
                    {% if varitations.exists %}
                        <div class="product-cart">
                            <div class="product-cart-variations">
                                <div class="product-cart-stock">Товар есть на складе в
                                    г. {{ request.domain.name }}</div>
                                <div class="product-cart-variations-table">
                                    <div class="product-cart-variations-table-line title">
                                        <div class="product-cart-variations-table-cell">Наименование</div>
                                        <div class="product-cart-variations-table-cell">Цена</div>
                                    </div>
                                    {% for variation in varitations %}
                                        {% with variation.get_storage_info as storage %}
                                        <div class="product-cart-variations-table-line variation seo-detail"
                                            data-name="{{ variation.title }}" data-id="{{ variation.id }}"
                                            data-price="{{ storage.price }}" data-category="{{ variation.category }}"
                                            {% if variation.brand %} data-brand="{{ variation.brand }}" {% endif %}
                                        >
                                            <div class="product-cart-variations-table-cell variation-title">
                                                {{ variation.title }}
                                            </div>
                                                <form action="{% url 'cart:cart_add' %}"
                                                      method="post"
                                                      class="product-cart-variations-table-cell variation-info js-add-cart">
                                                    <input type="hidden" name="product" value="{{ variation.id }}">
                                                    <div class="variation-prices">
                                                        {% if storage.discount_price != 1 and domain in domain_discount %}
                                                        <div class="variation-prices-price">{{ storage.price|convert_price }}</div>
                                                        <div class="variation-prices-info">При заказе с сайта:</div>
                                                        <div class="variation-prices-discount">{{ storage.discount_price|convert_price }}</div>
                                                        {% else %}
                                                            <div class="variation-prices-discount">{{ storage.price|convert_price }}</div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="variation-counter-wrapper">
                                                        <div class="variation-counter input-counter">
                                                            <input type="number" class="input-counter-input" value="1"
                                                                   name="quantity"
                                                                   data-submit
                                                                   data-min="0"
                                                                   data-max="{{ cart.MAX }}"
                                                                   data-action-align="right">
                                                        </div>
                                                        <button type="submit"
                                                                class="variation-cart btn btn-primary small">
                                                            <span class="btn__text">
                                                                +
                                                                <svg role="img">
                                                                    <use href="/static/images/sprite.svg#cart"></use>
                                                                </svg>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </form>
                                        </div>
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% if product.is_active %}
                                <div class="product-cart-info">
                                    {% include 'catalog/includes/buy_block.html' with actions=1 %}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="product-attrs">
                            <span class="product-attrs__title">Характеристики</span>
                            {% if product.brand %}
                                <div class="product-attrs-item">
                                <span class="product-attrs-item-group">
                                    <span class="product-attrs-item-group__value">Производитель</span>
                                </span>
                                    <span class="product-attrs-item-value">
                                    <span class="product-attrs-item-value__value">
                                        {% if product.get_unlink_brand %}
                                            <span>{{ product.brand }}</span>
                                        {% else %}
                                            <a href="{{ product.brand.get_absolute_url }}">{{ product.brand }}</a>
                                        {% endif %}
                                    </span>
                                </span>
                                </div>
                            {% endif %}
                            {% for attr in product.get_card_attrs|slice:":5" %}
                                <div class="product-attrs-item">
                                    <span class="product-attrs-item-group">
                                        <span class="product-attrs-item-group__value">{{ attr.attribute }}</span>
                                    </span>
                                    <span class="product-attrs-item-value">
                                        <span class="product-attrs-item-value__value">{{ attr.value }}</span>
                                    </span>
                                </div>
                            {% endfor %}
                            <div class="product-attrs-item">
                                <a href="#" class="product-attrs-item-value all tab_open" data-anchor="info" tab_open="attrs">
                                    <span class="product-attrs-item-value__value">Все характеристики</span>
                                </a>
                            </div>
                        </div>
                        {% with product.get_storage_info as storage %}
                        <div class="product-cart seo-detail"
                            data-title="{{ product.title }}" data-id="{{ product.id }}"
                            data-price="{{ storage.price }}" data-category="{{ product.category }}"
                            {% if product.brand %} data-brand="{{ product.brand }}" {% endif %}
                        >

                            <div class="product-cart-price-actions">
                                        <a href="#"
                                           class="product-cart-price-item favorite {% if product.id in wishlist.ids %}active{% endif %}">
                                            <svg role="img">
                                                <use href="/static/images/sprite.svg#favorite"></use>
                                            </svg>
                                            В избранное
                                        </a>
                                        <a href="#"
                                           class="product-cart-price-item compare {% if product.id in compare.ids %}active{% endif %}">
                                            <svg role="img">
                                                <use href="/static/images/sprite.svg#compare"></use>
                                            </svg>
                                            Сравнить
                                        </a>
                                        <div class="product-cart-price-item share">
                                            <svg role="img">
                                                <use href="/static/images/sprite.svg#share"></use>
                                            </svg>
                                            <span>Поделиться</span>
                                            <div class="ya-share2" data-curtain data-shape="round" data-limit="0" data-more-button-type="long" data-services="vkontakte,odnoklassniki,telegram,viber,whatsapp"></div>
                                        </div>
                                    </div>

                            {% if product.is_active %}
                                <div class="product-cart-price">
                                        {% if product.is_active %}
                                            {% if storage.price > 0 %}
                                                <div class="product-cart-price-top">
                                                    <div class="product-cart-price-prices">
                                                        {% if storage.old_price and domain in domain_discount %}
                                                            <div class="product-cart-price-old_price">{{ storage.price|convert_price }}</div>
                                                            <div class="product-cart-price-price">{{ storage.old_price|convert_price }}</div>
                                                        {% else %}
                                                            {% if storage.discount_price and domain in domain_discount %}
                                                                <div class="product-cart-price-old_price">{{ storage.price|convert_price }}</div>
                                                                <div class="product-cart-price-divider">При заказе с сайта</div>
                                                                <div class="product-cart-price-price">{{ storage.discount_price|convert_price }}</div>
                                                            {% else %}
                                                                <div class="product-cart-price-price">{{ storage.price|convert_price }}</div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                            <form class="product-cart-price-form"
                                                data-product="{{ product.id }}" action="{% url 'cart:cart_add' %}">
                                                    <div class="product-cart-price-counter input-counter">
                                                        <input type="number" class="input-counter-input" name="quantity"
                                                            value="1"
                                                            data-submit
                                                            data-min="1" data-max="{{ cart.MAX }}">
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="product-cart-price-request">Цена по запросу</div>
                                            {% endif %}
                                                <input type="hidden" name="product" value="{{ product.id }}">
                                                <div class="product-cart-buttons">
                                                        <div class="btn btn-outline product-cart-price-oneclick
                                                        product_detail_oneclick"
                                                            data-modal="oneclick">
                                                            <div class="btn__text">Купить в 1 клик</div>
                                                        </div>
                                                        {% if storage.price > 0 %}
                                                        <button class="btn btn-primary product-cart-price-btn" type="submit">
                                                            <span class="product-cart-price-btn__text">
                                                                <svg role="img">
                                                                    <use href="/static/images/sprite.svg#cart"></use>
                                                                </svg>
                                                                В корзину
                                                            </span>
                                                        </button>
                                                        {% endif %}
                                                </div>
                                            </form>
                                        {% else %}
                                            {% comment %}
                                                <div class="product-cart-price-request">Цена по запросу</div>
                                            {% endcomment %}
                                        {% endif %}
                                        <div class="product-price-alarm">
                                            В связи с неустойчивым курсом валют цена может отличаться. Уточняйте у сотрудников
                                            магазина.
                                        </div>
                                        {% comment %} {% if storage.quantity and product.is_active %}
                                            <div class="product-cart-price-stock">
                                                Товар есть на складе в г. {{ request.domain.name }}
                                            </div>
                                        {% endif %} {% endcomment %}

                                </div>
                                <div class="product-receiving">
                                    <div class="product-receiving__title" style="margin-bottom: 15px;">Как получить заказ</div>
                                    {% comment %}
                                        <div>
                                            <div class="product-receiving-row">
                                                <div class="product-receiving-row-content">
                                                    <svg class="product-receiving-row__icon">
                                                        <use xlink:href="{% static 'images/static-sprite.svg' %}#box"></use>
                                                    </svg>
                                                    <div class="product-receiving-row-content-info">
                                                        <p class="product-receiving-row__title">Самовывоз в магазине</p>
                                                        {% if product.in_stock %}
                                                            <p class="product-receiving-row__time">Сегодня</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <p class="product-receiving-row__price">бесплатно</p>
                                            </div>
                                            <div class="product-receiving-row">
                                                <div class="product-receiving-row-content">
                                                    <svg class="product-receiving-row__icon">
                                                        <use xlink:href="{% static 'images/static-sprite.svg' %}#car"></use>
                                                    </svg>
                                                    <div class="product-receiving-row-content-info">
                                                        <p class="product-receiving-row__title">Доставим</p>
                                                        {% if product.in_stock %}
                                                            <p class="product-receiving-row__time">Через 1-3 дня</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <p class="product-receiving-row__price">от 2 000 ₽</p>
                                            </div>
                                        </div>
                                    {% endcomment %}
                                    <button class="product-gallery-button receiving-gallery-button btn btn-outline tab_open" data-anchor="info" tab_open="store">
                                        <svg role="img" class="receiving__svg">
                                            <use xlink:href="{% static 'images/static-sprite.svg' %}#shop"></use>
                                        </svg>
                                        <div class="btn__text receiving__text">Посмотреть наличие в&nbsp;магазинах</div>
                                    </button>
                                    {% if not product.in_stock %}
                                        <div class="in-stock-item product-buy-nav-item" data-modal="in_stock">Сообщить о поступлении</div>
                                    {% endif %}
                                </div>
                                <div class="product-discount">
                                    <div class="white">Скидка 5%</div>
                                    <div class="product-discount__text">( Кроме продукции компаний Везувий, Гефест, TIS, Protherm, ПроМеталл, Теплодар, Kentatsu.)</div>
                                    <div class="white product-discount__text">При оформлении заказа через сайт!</div>
                                </div>
                                <div class="product-cart-info">
                                    {% include 'catalog/includes/buy_block.html' %}
                                </div>

                            {% else %}

                                <div class="product--itemInActiveMessage">
                                    Товар снят с продажи
                                </div>
                                
                            {% endif %}

                        </div>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </div>

            <div class="product-page-info">
                <div class="product-page-info-item">
                    <svg role="img">
                        <use href="/static/images/sprite.svg#product_shop"></use>
                    </svg>
                    100% оригинальных товаров
                    с гарантией производителя
                </div>
                <div class="product-page-info-item">
                    <svg role="img">
                        <use href="/static/images/sprite.svg#product_car"></use>
                    </svg>
                    Доставка по всей России
                </div>
                <div class="product-page-info-item">
                    <svg role="img">
                        <use href="/static/images/sprite.svg#product_purchase"></use>
                    </svg>
                    7 дней на возврат
                </div>
                <div class="product-page-info-item">
                    <svg role="img">
                        <use href="/static/images/sprite.svg#product_box"></use>
                    </svg>
                    Резерв без оплаты<br>
                    на 3 дня
                </div>
            </div>
            <div class="product-info" id="info">
                <div class="product-tabs">
                    <div class="product-tabs-wrapper">
                        <label class="product-tabs-item">
                            <input type="radio" value="attrs" name="product-tab" checked>
                            <span>Характеристики</span>
                        </label>
                        <label class="product-tabs-item">
                            <input type="radio" value="description" name="product-tab">
                            <span>Описание</span>
                        </label>
                        <label class="product-tabs-item">
                            <input type="radio" value="reviews" name="product-tab">
                            <span>Отзывы</span>
                        </label>
                        {% if product.docs.all %}
                            <label class="product-tabs-item">
                                <input type="radio" value="docs" name="product-tab">
                                <span>Документация</span>
                            </label>
                        {% endif %}
                        {% if product.videos.all %}
                            <label class="product-tabs-item">
                                <input type="radio" value="video" name="product-tab">
                                <span>Видео</span>
                            </label>
                        {% endif %}
                        {% if product.is_active %}
                            <label class="product-tabs-item">
                                <input type="radio" value="store" name="product-tab">
                                <span>Где купить?</span>
                            </label>
                        {% endif %}
                    </div>
                </div>
                <div class="product-contents">
                    <div class="product-content" data-content="attrs">
                        <div class="product-attrs-item">
                                <span class="product-attrs-item-group">
                                    <span class="product-attrs-item-group__value">Тип товара</span>
                                </span>
                                <span class="product-attrs-item-value">
                                    <span class="product-attrs-item-value__value">
                                        {% with product.category.get_root as root %}
                                            <a href="{{ root.get_absolute_url }}">{{ root }}</a>
                                        {% endwith %}
                                    </span>
                                </span>
                            </div>
                            <div class="product-attrs-item">
                                <span class="product-attrs-item-group">
                                    <span class="product-attrs-item-group__value">Категории</span>
                                </span>
                                <span class="product-attrs-item-value">
                                    <span class="product-attrs-item-value__value">
                                        <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                                    </span>
                                    {% for category in product.get_aliases.iterator %}
                                        <span class="product-attrs-item-value__value">,
                                            <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                                        </span>
                                    {% endfor %}
                                </span>
                            </div>
                        {% for attr in product.get_card_attrs %}
                            <div class="product-attrs-item">
                                <span class="product-attrs-item-group">
                                    <span class="product-attrs-item-group__value">{{ attr.attribute }}</span>
                                </span>
                                <span class="product-attrs-item-value">
                                    <span class="product-attrs-item-value__value">{{ attr.value }}</span>
                                </span>
                            </div>
                        {% endfor %}
                        {% comment %}
                        {% for attr in product.get_card_attrs.iterator %}
                            <div class="product-attrs-item">
                                <span class="product-attrs-item-group">
                                    <span class="product-attrs-item-group__value">{{ attr.attribute }}</span>
                                </span>
                                <span class="product-attrs-item-value">
                                    <span class="product-attrs-item-value__value">{{ attr.value }}</span>
                                </span>
                            </div>
                        {% endfor %}
                        {% endcomment %}
                    </div>
                    <div class="product-content content-page" data-content="description">
                        <div class="content-text">
                            {{ product.get_description|safe }}
                        </div>
                    </div>
                    <div class="product-content" data-content="reviews">
                        <div class="product-content-reviews-top">
                            <form class="product-content-reviews-form reviews-form">
                            <div class="reviews-form__wrapper hide">
                                <svg role="img">
                                    <use href="/static/images/sprite.svg#success"></use>
                                </svg>
                                Комментарий успешно отправлен
                            </div>
                            <input type="hidden" name="product" value="{{ product.id }}">
                            <div class="product-content-reviews-form-line">
                                <span class="product-content-reviews-form__title">Оставьте отзыв</span>
                            </div>
                            <div class="product-content-reviews-form-line">
                                <label>
                                    <input type="text" required placeholder="Имя*" name="author">
                                </label>
                                <label>
                                    <input type="email" required placeholder="Email*" name="email">
                                </label>
                            </div>
                            <div class="product-content-reviews-form-line">
                                <label>
                                    <textarea placeholder="Оставить отзыв" name="message"></textarea>
                                </label>
                            </div>
                            <div class="product-content-reviews-form-line">
                                <button type="submit" class="btn btn-primary">
                                    <span class="btn__text">Отправить</span>
                                </button>
                                <span class="help-text">Нажимая кнопку, вы соглашаетесь на обработку персональных данных</span>
                            </div>
                        </form>
                            <div class="product-buy-stars">
        {% if not request.user.is_authenticated %}
            <div class="product-buy-stars__title">
                Войдите в <a href="#" data-modal="user-login">личный кабинет</a>, чтобы оценить этот товар
            </div>
            {% else %}
            <div class="product-buy-stars__title">
                Помогите другим покупателям с выбором - оцените товар
            </div>
        {% endif %}
        <form class="product-buy-stars-form">
            <input type="hidden" name="product" value="{{ product.id }}">
            <div class="product-buy-stars-counter">
                <label class="product-buy-stars-item">
                    <input type="checkbox" name="stars" value="1">
                    <span>
                        <svg role="img">
                            <use href="/static/images/sprite.svg#star"></use>
                        </svg>
                    </span>
                </label>
                <label class="product-buy-stars-item">
                    <input type="checkbox" name="stars" value="2">
                    <span>
                        <svg role="img">
                            <use href="/static/images/sprite.svg#star"></use>
                        </svg>
                    </span>
                </label>
                <label class="product-buy-stars-item">
                    <input type="checkbox" name="stars" value="3">
                    <span>
                        <svg role="img">
                            <use href="/static/images/sprite.svg#star"></use>
                        </svg>
                    </span>
                </label>
                <label class="product-buy-stars-item">
                    <input type="checkbox" name="stars" value="4">
                    <span>
                        <svg role="img">
                            <use href="/static/images/sprite.svg#star"></use>
                        </svg>
                    </span>
                </label>
                <label class="product-buy-stars-item">
                    <input type="checkbox" name="stars" value="5">
                    <span>
                        <svg role="img">
                            <use href="/static/images/sprite.svg#star"></use>
                        </svg>
                    </span>
                </label>
            </div>
            <button class="product-buy-stars-btn" {% if request.user.is_authenticated %}type="submit"{% endif %}>Оценить
                товар
            </button>
        </form>
    </div>
                        </div>
                        <div class="product-content-reviews">
                            {% for review in product.reviews.active.iterator %}
                                <div class="product-content-reviews-item">
                                    <span class="product-content-reviews-item__title">{{ review.author }}</span>
                                    <span class="product-content-reviews-item__date">{{ review.date_created|date:'d.m.Y' }}</span>
                                    <span class="product-content-reviews-item__message">{{ review.message|safe }}</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="product-content-reviews-paginate">
                            {% include 'commons/pagination.html' %}
                        </div>
                    </div>
                    {% if product.docs.all %}
                        <div class="product-content" data-content="docs">
                            <div class="content-page">
                                <div class="files">
                                    <div class="files__wrapper">
                                        {% for item in product.docs.all %}
                                            <a class="file" href="{{ item.file.url }}" target="_blank">
                                                <div class="file-info">
                                                    <span class="name">{{ item.title }}</span>
                                                    <span class="size">
                                                        <svg role="img">
                                                            <use href="/static/images/sprite.svg#file"/>
                                                        </svg>
                                                        {{ item.extension }} {{ item.get_size }}
                                                    </span>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if product.videos.all %}
                        <div class="product-content" data-content="video">
                            <div class="content-page">
                                <div class="videos">
                                    <div class="videos-wrapper">
                                        {% for video in product.videos.all %}
                                            <a href="#" video-link="{{ video.get_youtube_link }}" class="videos-element" data-modal="{{ video.get_link }}">
                                                {% if video.file %}
                                                <img src="{{ video.file.url }}" alt="">

                                                {% else %}
                                                {{ product.get_template_picture }}
                                                {% endif %}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="product-content" data-content="store">
                        <div class="product-alert">
                            <div class="product-alert__icon">
                                <svg class="close-modal__svg" role="img">
                                    <use href="/static/images/sprite.svg#key"></use>
                                </svg>
                            </div>
                            <div class="product-alert__content">
                                <p class="product-alert__title">Этот товар можно забронировать в магазине</p>
                                <p class="product-alert__text">Подготовим товар к выдаче в течение 1 рабочего часа. Бронь сохраняется за вами в течение 3 дней.</p>
                            </div>
                        </div>
                        <div class="product-store">
                            <div class="product-store__table">
                                <div class="product-store__table-row product-store__table-head">
                                    <div class="product-store__table-cell">
                                        <span>Адрес</span>
                                    </div>
                                    <div class="product-store__table-cell">
                                        <span>Наличие</span>
                                    </div>
                                    <div class="product-store__table-cell">
                                        <span>Дата</span>
                                    </div>
                                </div>
                            {% for store in product.get_quantity_stores %}
                                <div class="product-store__table-row">
                                    <div class="product-store__table-cell">
                                        <div class="product-store__contacts">
                                            <div class="product-store__contacts-icon">
                                                <svg class="close-modal__svg" role="img">
                                                    <use href="/static/images/sprite.svg#flame"></use>
                                                </svg>
                                            </div>
                                            <div class="product-store__contacts-list">
                                                <p class="product-store__contacts-address">{{ domain.name }}, {{ store.store.address }}</p>
                                                {% for phone in store.store.get_phones %}
                                                <p class="product-store__contacts-phone">
                                                    <a href="tel:{{ phone }}">{{ phone }}</a>
                                                </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-store__table-cell">
                                        <div class="product-store__stock">
                                            {% if store.quantity > 0 %}
                                                <span>{{ store.quantity }} шт.</span>
                                            {% else %}
                                                <span>Нет на складе</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="product-store__table-cell">
                                        <div class="product-store__reserve">
                                            {% if store.quantity > 0 %}
                                                <p>Сегодня (с 12:00)</p>
                                            {% else %}
                                                <p>До 14 дней</p>
                                            {% endif %}
                                            {% comment %}
                                            <button type="button" class="btn btn-primary" data-modal="booking-product">
                                                <span class="btn__text">Бронировать</span>
                                            </button>
                                            {% endcomment %}
                                            {% if store.quantity == 0 %}
                                            <button type="button" class="btn btn-outline product-cart-price-oneclick
                                                    product_detail_oneclick" data-modal="in_stock">
                                                <span class="btn__text">Сообщить о поступлении</span>
                                            </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ product_slider|safe }}
        {{ related_slider|safe }}
        {{ viewed_slider|safe }}
        {% include 'includes/information.html' %}
        {% include 'includes/brands.html' %}
    </section>
{% endblock content %}

{% block modals %}
    {{ block.super }}
    <div class="custom-modal" id="delivery-terms">
        <div class="custom-modal__wrapper">
            <div class="custom-modal__header">
                <span class="custom-modal-header__title">Условия доставки</span>
                <button class="close-modal close-modal-event" type="button">
                    <svg class="close-modal__svg" role="img">
                        <use href="/static/images/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="custom-modal__body delivery">
                <div class="delivery-item">
                    <div class="delivery-item-image">
                        <img src="{% static 'images/delivery.png' %}" alt="Самовывоз">
                    </div>
                    <div class="delivery-item-info">
                        <div class="delivery-item__title">Самовывоз</div>
                        <div class="delivery-item__description">
                            Вы можете забрать свой заказ самовывозом бесплатно в удобное для
                            Вас время из розничного магазина в Вашем городе.
                            Графики работы наших магазинов смотрите по ссылке <a href="#">https://www.rupechi.ru/address/</a>
                        </div>
                    </div>
                </div>
                <div class="delivery-item">
                    <div class="delivery-item-image">
                        <img src="{% static 'images/transport.png' %}" alt="transport">
                    </div>
                    <div class="delivery-item-info">
                        <div class="delivery-item__title">Доставка транспортной компанией</div>
                        <div class="delivery-item__description">
                            Доставка товара до пункта назначения при условии наличия товара на складе выполняется от 1
                            до 14 дней.
                            Заказ отправляется транспортной компанией и доставляется в любую точку
                            (в том числе за город, до места монтажа).
                        </div>
                    </div>
                </div>
                <div class="delivery-item">
                    <div class="delivery-item-image">
                        <img src="{% static 'images/delivery_box.png' %}" alt="Доставка под заказ">
                    </div>
                    <div class="delivery-item-info">
                        <div class="delivery-item__title">Доставка под заказ (не со склада компании «Жар да Пар»)</div>
                        <div class="delivery-item__description">
                            Товары, оформленные «под заказ» (не со склада интернет-магазина «Жар да Пар»),
                            имеют срок доставки от 14 дней.
                        </div>
                    </div>
                </div>
                <div class="delivery-item">
                    <div class="delivery-item-image">
                        <img src="{% static 'images/payment.png' %}" alt="Сколько стоит доставка?">
                    </div>
                    <div class="delivery-item-info">
                        <div class="delivery-item__title">Сколько стоит доставка?</div>
                        <div class="delivery-item__description">
                            Внимание! Стоимость доставки рассчитывается по тарифам транспортной компании и зависит от
                            габаритов и веса Вашей покупки.
                            Пожалуйста, уточняйте точную стоимость доставки у менеджера при оформлении заказа.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-modal" id="payment-terms">
        <div class="custom-modal__wrapper">
            <div class="custom-modal__header">
                <span class="custom-modal-header__title">Условия оплаты</span>
                <button class="close-modal close-modal-event" type="button">
                    <svg class="close-modal__svg" role="img">
                        <use href="/static/images/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="custom-modal__body payment">
                <div class="payment-table">
                    <div class="payment-table-item">
                        <img class="payment-table-item-image" src="{% static 'images/payment_cash.png' %}"
                             alt="Оплата наличными"/>
                        <div class="payment-table-item-info">
                            <div class="payment-table-item__title">При получении заказа в розничном магазине или на
                                складе
                                вы можете оплатить его наличными или банковской картой
                            </div>
                        </div>
                    </div>
                    <div class="payment-table-item">
                        <img class="payment-table-item-image" src="{% static 'images/payment_card.png' %}"
                             alt="Оплата картой"/>
                        <div class="payment-table-item-info">
                            <div class="payment-table-item__title">
                                При покупке на сайте вы можете оплатить заказ онлайн с помощью банковской карты
                                MasterCard или VISA*
                            </div>
                        </div>
                    </div>
                    <div class="payment-table-item">
                        <img class="payment-table-item-image" src="{% static 'images/payment_cashless.png' %}"
                             alt="Оплата безналичными"/>
                        <div class="payment-table-item-info">
                            <div class="payment-table-item__title">Безналичная оплата по выставленному счету (для
                                юридических лиц).
                            </div>
                            <div class="payment-table-item__subtitle">
                                Средства зачисляются в течение 3-х рабочих дней.
                                Отгрузка товара производится только после поступления оплаты.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="payment-information">
                    *Подробную информация о процессе оплаты банковской картой смотрите здесь
                </div>
            </div>
        </div>
    </div>
    <div class="custom-modal small" id="give-discount">
        <div class="custom-modal__wrapper">
            <div class="custom-modal__header">
                <span class="custom-modal-header__title">Расскажите нам, где этот товар продают дешевле </span>
                <button class="close-modal close-modal-event" type="button">
                    <svg class="close-modal__svg" role="img">
                        <use href="/static/images/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="custom-modal__body">
                <form class="modal-form ajax-form" action="{% url 'feedback:cheaper' %}" method="POST">
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <label class="input">
                        <span class="input__name">Ссылка на товар</span>
                        <input type="url" class="input__input" placeholder="https://" name="url"
                               required>
                    </label>
                    <label class="input">
                        <span class="input__name">Имя</span>
                        <input type="text" class="input__input" name="name"
                               value="{{ request.user.username|default:'' }}" required>
                    </label>
                    <label class="input">
                        <span class="input__name">Телефон</span>
                        <input type="tel" class="input__input" name="phone" value="{{ request.user.phone|default:'' }}"
                               required>
                    </label>
                    <button class="btn btn-primary" type="submit"><span class="btn__text">Получить скидку</span>
                    </button>
                    <p class="personal-data-link">
                        <span>Нажимая на кнопку, вы соглашаетесь на</span>
                        <a href="{{ personal_page.get_absolute_url }}" target="_blank">обработку персональных данных.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <div class="custom-modal small" id="booking-product">
        <div class="custom-modal__wrapper">
            <div class="custom-modal__header">
                <span class="custom-modal-header__title">Забронировать в магазине по адресу г. Вологда, Пошехонское шоссе, 8</span>
                <button class="close-modal close-modal-event" type="button">
                    <svg class="close-modal__svg" role="img">
                        <use href="/static/images/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="custom-modal__body">
                <form class="modal-form ajax-form" action="#" method="POST">
                    <input type="hidden" name="product" value="{{ product.id }}">
                    <label class="input">
                        <span class="input__name">Имя</span>
                        <input type="text" class="input__input" name="name"
                               value="{{ request.user.username|default:'' }}" required>
                    </label>
                    <label class="input">
                        <span class="input__name">E-mail</span>
                        <input type="email" class="input__input" name="email" value="{{ request.user.email|default:'' }}"
                               required>
                    </label>
                    <label class="input">
                        <span class="input__name">Телефон</span>
                        <input type="tel" class="input__input" name="phone" value="{{ request.user.phone|default:'' }}"
                               required>
                    </label>
                    <label class="input">
                        <span class="input__name">Комментарий</span>
                        <input type="text" class="input__input" name="comment" value=""
                               required>
                    </label>
                    <button class="btn btn-primary" type="submit"><span class="btn__text">Забронировать</span>
                    </button>
                    <p class="personal-data-link">
                        <span>Нажимая на кнопку, вы соглашаетесь на</span>
                        <a href="{{ personal_page.get_absolute_url }}" target="_blank">обработку персональных данных.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
    {% comment %}
    {% if mounting_page %}
    <div class="custom-modal" id="mounting">
        <div class="custom-modal__wrapper">
            <div class="custom-modal__header">
                <span class="custom-modal-header__title">{{ mounting_page }}</span>
                <button class="close-modal close-modal-event" type="button">
                    <svg class="close-modal__svg" role="img">
                        <use href="/static/images/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="custom-modal__body content-page mounting">
                {% include 'pages/includes/static/mounting.html' with page=mounting_page %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endcomment %}
    {% for video in product.videos.all %}
        <div class="custom-modal js-product" id="{{ video.get_link }}">
            <div class="custom-modal__wrapper">
                <div class="custom-modal__body">
                    <iframe class="youtube-video-iframe" src="{{ video.get_youtube_link }}" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
