<p style="font-size: 20px;">Спасибо за регистрацию в качестве оптового клиента компании "Жарко". В ближайшее время с вами свяжется ваш персональный менеджер и предоставит логин и пароль для доступа к оптовым ценам на сайте.</p>

<table style="clear:both;">
    <tbody>
    <tr>
        <td><p style="font-size: 23px;">Спасибо за выбор магазина <a
                href="https://{{ request.get_host }}">Жарко</a>!</p></td>
    </tr>
    </tbody>
</table>
<table>
    <tr>
        <td>
            <p style="font-size: 20px;">
                <b>Пожалуйста, не отвечайте на это письмо: оно создано автоматически. Связаться с нами можете по почте: kaa@rupechi.ru</b>
            </p>
        </td>
    </tr>
</table>