{% load catalog %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<div class="mail-Message-Body-Content">
    <div>
        <table cellpadding="0" cellspacing="0" border="0" width="98%" style="margin:0px 1%;">
            <tbody>
            <tr>
                <td colspan="2">
                    <p style="margin:0px 0 40px 0;font-size:23px;"><b>Вас приветствует интернет-магазин Жарко</b></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p style="margin-bottom:10px;">Добрый день,<b style="margin-left:5px;"> менеджер.</b></p>
                    <p style="margin-bottom:10px;">Поступила новая заявка на купон<b style="margin-left:25px;"></b></p>

                </td>
            </tr>
            </tbody>
        </table>

        <table cellpadding="0" cellspacing="0" border="1" width="98%" style="margin:30px 1%;">
            <tbody>
            <tr><h2>Корзина пользователя:</h2></tr>
            <tr>
                <th style="text-align:left;background-color:#ef7d00;padding:6px 8px;border:1px solid #ebbf0c;">
                    Наименование
                </th>
                <th style="text-align:left;background-color:#ef7d00;padding:6px 8px;border:1px solid #ebbf0c;">Цена</th>
                <th style="text-align:left;background-color:#ef7d00;padding:6px 8px;border:1px solid #ebbf0c;">Кол-во
                </th>
            </tr>
            {% for pr in items %}
                <tr>
                    <td style="border:1px solid #ef7d00;padding:6px 8px;"><a href="https://{{ request.get_host }}{{ pr.product.get_absolute_url }}">{{ pr.product.title }}</a></td>
                    <td style="border:1px solid #ef7d00;padding:6px 8px;">{{ pr.price|convert_price }} р.</td>
                    <td style="border:1px solid #ef7d00;padding:6px 8px;">{{ pr.quantity }} шт</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <table cellpadding="0" cellspacing="0" border="1" width="48%" style="margin:30px 1%;float:left;">
            <tbody>
            <tr>
                <th colspan="2"
                    style="background-color:#ef7d00;padding:6px 8px;border:1px solid #e5e5e5;text-align:left;">Данные
                    заявки
                </th>
            </tr>
            <tr>
                <td style="text-align:right;padding:6px 8px;border:1px solid #e5e5e5;">E-mail:</td>
                <td style="text-align:left;padding:6px 8px;border:1px solid #e5e5e5;"><b><a
                        href="mailto:{{ email }}">{{ email }}</a></b>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;padding:6px 8px;border:1px solid #e5e5e5;">Телефон</td>
                <td style="text-align:left;padding:6px 8px;border:1px solid #e5e5e5;"><b><span>{{ phone }}</span></b>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;padding:6px 8px;border:1px solid #e5e5e5;">Сообщение менеджеру</td>
                <td style="text-align:left;padding:6px 8px;border:1px solid #e5e5e5;"><b><span
                        class="wmi-callto">{{ message }}</span></b>
                </td>
            </tr>
            </tbody>
        </table>
        <table style="clear:both;margin:30px 1%;">
            <tbody>
            <tr>
                <td><p style="font-size: 23px;">Спасибо за выбор магазина <a
                        href="https://{{ request.get_host }}">Жарко</a>!</p></td>
            </tr>
            </tbody>
        </table>
        <table>
            <tr>
                <td>
                    <p style="font-size: 20px;">
                        <b>Пожалуйста, не отвечайте на это письмо: оно создано автоматически. Связаться с нами можете по почте: kaa@rupechi.ru</b>
                    </p>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>

</html>
