{% for page in catalog_items %}
    {% with page.get_subitems.all as children %}
        {% if children %}
            <div class="header-mobile-navigation-item white"
                    data-open-target=".header-mobile-submenu"
                    data-open-children="true"
                    data-open-check-parent=".header-mobile-navigation-item"
                    data-type="{{ page.category.type }}">
                <div class="header-mobile-navigation-item__title">
                    {{ page }}
                    <div class="header-mobile-submenu">
                        <div class="header-mobile-navigation-item back"
                                data-open-target=".header-mobile-submenu"
                                data-open-parent="true"
                                data-open-check-parent=".header-mobile-navigation-item">
                            <div class="header-mobile-navigation-item__title">
                                <svg role="img">
                                    <use href="/static/images/sprite.svg#dropdown"></use>
                                </svg>
                                Назад
                                <div class="fix-center"></div>
                            </div>
                        </div>
                        {% for child in children %}
                            <div class="header-mobile-navigation-item white"
                                    data-type="{{ child.category.type }}">
                                <a class="header-mobile-navigation-item__title"
                                    href="{{ child.get_absolute_url }}">
                                    {{ child.title }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <svg class="dropdown-icon">
                        <use href="/static/images/sprite.svg#dropdown"></use>
                    </svg>
                </div>
            </div>
        {% else %}
            <div class="header-mobile-navigation-item white" data-type="{{ page.category.type }}">
                <a class="header-mobile-navigation-item__title"
                    href="{{ page.get_absolute_url }}">
                    {{ page }}
                </a>
            </div>
        {% endif %}
    {% endwith %}
{% endfor %}